<div class="cta-skin contact-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 margin-b-30">
                <i class="ion-email"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">restaurantgalia@hotmail.com</p>
                </div>
            </div>
            <div class="col-sm-4 margin-b-30">
                <i class="ion-email"></i>
                <div class="overflow-hidden">
                    <h4>Réservations</h4>
                    <p class="lead">+33 9 83 38 08 18</p>
                </div>
            </div>
            <div class="col-sm-4 margin-b-30">
                <i class="ion-map"></i>
                <div class="overflow-hidden">
                    <h4>Adresse</h4>
                    <p class="lead">123 Rue Didot, 75014 Paris, France</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 margin-b-30">
                <h3>Horaires</h3>
                <p><span class="text-color">Lundi:</span>Fermé</p>
                <p><span class="text-color">Mardi-Samedi:</span>12h - 14h30</p>
                <p><span class="text-color">Mardi-Samedi:</span>19h00 - 22h30</p>
                <p><span class="text-color">Dimanche:</span>12h - 15h</p>
            </div>
            <div class="col-md-6 margin-b-30">
                <h3>Contactez-nous</h3>
                <p class="lead"><a href="">123 Rue Didot 75014 Paris<a></p>
                            <p class="lead"><a href="">+33 9 83 38 08 18</a></p>
                <p class="lead"><a href="">restaurantgalia@hotmail.com</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul class="list-inline f-social">
                    <li><a href="https://www.facebook.com/RestaurantGalia/"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/godigna_chef/"><i class="ion-social-instagram"></i></a></li>
                </ul>
                <span>&copy; Copyright 2017. Restaurant Galia</span>
            </div>
        </div>
    </div>
</footer>